.app-img{
    max-height: 200px;
    object-fit: cover;
    padding: 5px 5px 5px 5px;
}

.container-fluid{
    margin-left: 5%;
    margin-right: 5%;
}

a{
    all: unset;
    display: block;
}

.load{
    text-align: center;
    background-color: #09ad8e;
    color: #fff;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 475;
    letter-spacing: 1px;
    max-width: 100%;
    padding: 0px 0px !important;
    outline: none;
    border: none;
}
.epCqVG:after{
    border-color:#09ad8e transparent #09ad8e transparent !important;
}
.loader{
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.epCqVG{
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.epCqVG:after{
    margin: 25% auto !important;
}